.top-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 0 $gutter * 2;

  background: $brand-brite-white;
}

.nav-group {
  display: flex;
  align-items: center;
  margin: 0;

  @media screen and (max-width: 50rem) {
    #nav-toggle + & {
      display: none;
      flex-shrink: 0;
      justify-content: space-between;
      width: 100%;
    }

    #nav-toggle:checked + & {
      display: flex;
    }
  }
}

#nav-toggle {
  display: none;
}

.nav-item {
  padding: $gutter;
  text-align: center;

  &--hoverable:nth-of-type(odd) {
    border-bottom: 0.2rem solid $brand-primary;
  }

  &--hoverable:hover {
    border-bottom: 0.2rem solid darken($brand-white, 40%);

    color: $brand-primary;
  }

  @media screen and (max-width: 50rem) {
    &__text {
      display: none;
    }

    &__icon {
      margin: 0 $gutter / 2;
    }
  }
}

.nav-logo {
  color: $brand-primary;

  @media screen and (max-width: 50rem) {
    display: none;
  }
}

.nav-avatar {
  height: 1.4em;
  border-radius: 0.4rem;

  vertical-align: middle;
}
