.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 $gutter * 2;

  background: $brand-brite-white;
}

.nav-group {
  display: flex;
  margin: 0;
}

.nav-item {
  padding: $gutter;
  text-align: center;

  &--bordered {
    border-bottom: 0.2rem solid $brand-primary;
  }
}

.nav-logo {
  color: $brand-primary;
}

.nav-avatar {
  height: 1.4em;
  border-radius: 0.4rem;
}
